body {
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
}

.blog-container {
    width: 50%;
    margin: auto;
}

header {
    border-bottom: 3px solid black;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav.menu {
    font-weight: bold;
    font-size: 20px;
}

nav.menu ul {
    list-style-type: none;
    display: flex;
}

nav.menu a {
    text-decoration: none;
    padding: 0px 10px;
    color: black;
}

nav.menu a:visited {
    color: black;
}

nav.menu a:hover {
    color: gray;
}

main.blog-post {
    font-size: 25px;
    line-height: 1.6em;
    border-bottom: 3px solid black;
}

h1 {
    font-size: 30px;
    margin-top: 50px;
}

h4 {
    color: gray;
    font-style: italic;
    font-size: 17px;
}

footer {
    margin: 50px 0px;
    float: right;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    position: relative;
    top: 100px;
}

section.contact-us {
    background-color: rgb(233, 231, 231);
    color: gray;
    text-align: center;
    padding: 10px 0px;
    margin-bottom: 40px;
}

form.contact-form {
    font-size: 15px;
    background-color: rgb(233, 231, 231);
    display: flex;
    justify-content: space-between;
    width: 700px;
    margin: 0 auto;
    padding: 10px;
}

label, input, textarea {
    display: block;
    width: 310px;
}

label {
    font-weight: bold;
    margin-bottom: -10px;
}

input, textarea {
    padding: 10px;
    margin-bottom: 10px;
}


.submit-button {
    margin-left: 180px;
}

.submit-button input {
    width: 150px;
    background-color: dodgerblue;
    color: white;
    border: none;
    font-weight: bold;
}

.social-media {
    width: 400px;
    margin: 0 auto;
    text-align: center;
}

.social-media p {
    border-bottom: 1px solid rgb(233, 231, 231);
}

.social-media ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    padding: 0 0;
}

.social-media a {
    text-decoration: none;
    font-size: 15px;
    font-weight: bold;
    color: dodgerblue;
}

.social-media a:hover {
    color: gray;
}